{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanFlow – Мої проєкти</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/pages/myprojects.css' %}">
</head>
<body>
<nav>
    <div class="logo">
        <img src="{% static 'img/cube.svg' %}" alt="Логотип UrbanFlow - куб">
        <img src="{% static 'img/UrbanFlow.svg' %}" alt="UrbanFlow">
    </div>
    <ul role="list">
        <li><a href="#">Про нас</a></li>
        <li><a href="{% url 'profile' %}">Акаунт</a></li>
    </ul>
</nav>

<div class="ellipse ellipse-1"></div>
<div class="ellipse ellipse-2"></div>

<div class="projects-header">
    <h1>Мої проєкти</h1>
</div>
<main>
    <div class="projects-container">
        <p class="projects-description">Тут зберігаються всі ваші створені або оптимізовані плани. Ви можете переглядати, редагувати та керувати ними.</p>

        <div class="projects-section">
            <h2>Активні проєкти</h2>

            {% if has_projects %}
            <div class="project-card">
                <h3>Назва проекту 1</h3>
                <p class="project-update">Останнє оновлення: 12.04.2025</p>
                <div class="project-actions">
                    <button class="project-btn edit-btn">Редагувати</button>
                    <button class="project-btn delete-btn">Видалити</button>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="actions-section">
            <h2>Дії з проєктами</h2>
            <ul class="actions-list">
                <li>
                    <button class="action-btn create-btn"><a href="{% url 'city_changer' %}">Створити новий проєкт</a></button>
                    <span>– розпочати роботу над новим планом</span>
                </li>
                <li>
                    <button class="action-btn search-btn">Пошук проєктів</button>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>