@font-face {
    font-family: 'e-Ukraine Bold';
    src: url('../../fonts/e-Ukraine/e-Ukraine-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Light';
    src: url('../../fonts/e-Ukraine/e-Ukraine-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Ultralight';
    src: url('../../fonts/e-Ukraine/e-Ukraine-UltraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NAMU';
    src: url('../../fonts/NAMU Old Style 1850/NAMU_TF_2022_v1804/OTF_PS/NAMU-1850.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'e-Ukraine Ultralight', sans-serif;
}

body{
    background: #171420;
    color: #D9C6C6;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5rem;
    width: 100%;
}