{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
</head>

{% block content %}
<body>
    <div class="background-ellipse">
        <img src="{% static 'img/ellipse.png' %}" alt="">
    </div>

    <div class="login-container">
        <div class="login-card">
            <h1>Login</h1>

            <form class="login-form" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username" required>
                </div>

                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>

                <button type="submit" class="login-btn">LOGIN</button>

                <a href="{% url 'password_reset' %}" class="forgot-password">Forgot password?</a>
            </form>

            <div class="divider">
                <span>OR</span>
            </div>

            <div class="social-login">
                <button class="social-btn google-btn" type="button">
                    <img src="{% static 'img/google_logo.svg' %}" alt="Google">
                </button>
                <button class="social-btn facebook-btn" type="button">
                    <img src="{% static 'img/facebook_logo.svg' %}" alt="Facebook">
                </button>
            </div>

            <div class="signup-link">
                <span>Need an account? <a href="{% url 'signup' %}">SIGN UP</a></span>
            </div>
        </div>
    </div>
</body>
{% endblock %}

