{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanFlow – Мій акаунт</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">
</head>
<body>
<nav>
    <div class="logo"><a href="{% url 'home' %}">
        <img src="{% static 'img/cube.svg' %}" alt="Логотип UrbanFlow - куб">
        <img src="{% static 'img/UrbanFlow.svg' %}" alt="UrbanFlow">
    </a></div>
    <ul role="list">
        <li><a href="{% url 'about' %}">Про нас</a></li>
        <li><a href="{% url 'myprojects' %}">Проєкти</a></li>
    </ul>
</nav>

<div class="ellipse ellipse-1"></div>
<div class="ellipse ellipse-2"></div>

<main>
    <div class="account-container">
        <div class="account-card">
            <h1>Мій акаунт</h1>
            {% block content %}
            <div class="profile-info">
                <h2>Привіт, {{ user.username }}!</h2>
                <p>Email: {{ user.email }}</p>
                <h2>Як почати?</h2>
                <p>1.Створіть новий проєкт – оберіть місцевість аналіз якої ви хочете отримати<br>
                2.Зберігайте результати – усі ваші роботи автоматично з’являться на сторінці "Мої проєкти".</p>

                <div class="logout-container">
                    <a href="{% url 'logout' %}" class="logout-btn">Вийти</a>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</main>
</body>
</html>