<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanFlow – Інструмент для трансформації міського простору</title>
    <link rel="stylesheet" href="../styles/pages/main.css">
</head>
<body>
<nav aria-label="Головна навігація">
    <div class="logo">
        <img src="../img/cube.svg" alt="Логотип UrbanFlow - куб">
        <img src="../img/UrbanFlow.svg" alt="UrbanFlow">
    </div>
    <ul role="list">
        <li><a href="#">Про нас</a></li>
        <li><a href="#">Проєкти</a></li>
        <li><a href="#">Увійти</a></li>
    </ul>
</nav>

<main>
    <h1>Інструмент для трансформації міського простору</h1>
    <p>Завантажте план вашої території, і ми покажемо, як вона може перетворитися на зручний, пішохідний простір із зеленими зонами та сучасною інфраструктурою</p>
    <a href="city_changer.html" class="try-button">
        <button type="button">Спробувати зараз</button>
    </a>

    <div class="background-elements">
        <div class="ellipse ellipse-1"></div>
        <div class="ellipse ellipse-2"></div>
        <img src="../img/map.png" class="map-img" alt="Фонова мапа" draggable="false">
    </div>
</main>
</body>
</html>